@font-face {
  font-family: 'OCR A';
  src: url('/fonts/OCRAEXT.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url('/backgroundC.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  overflow: hidden; /* Asegura que no haya scroll */
  font-family: "OCR A", monospace; /* Asegura que toda la página use la fuente OCR A */
}

/* Estilos para el contenedor principal */
.container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 5px;
  width: 100%;
  height: 100vh; /* Asegura que el contenedor ocupe toda la altura de la ventana */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Ajuste de estilos para secciones */
.section1,
.section3 {
  background-color: #D9D9D97f;
  padding: 10px;
  margin: 0 15px; /* Ajuste de margen solo a los lados para evitar scroll */
  display: grid;
}

.section1 {
  grid-template-rows: 1fr auto;
}

/* Ajuste para las estadísticas */
.estadisticas {
  display: grid;
  place-items: center;
  width: 100%;
  height: auto;
  grid-template-rows: 2fr repeat(6, 1fr);
  gap: 10px;
}

.boxestadisticas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 80%;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}

/* Estilos para la sección del medio */
.section2 {
  display: grid;
  grid-template-rows: 1.3fr 2.7fr;
  gap: 10px;
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

.sub-section1 {
  background-color: #ffffff9e;
  padding: 10px;
  margin: 5px 0;
}

.sub-section2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  box-sizing: border-box;
  place-items: center;
}

.habilidades {
  height: 100%;
}

.sub-sub-section1,
.sub-sub-section3 {
  width: 100%;
  display: grid;
  place-items: center;
}

.sub-sub-section2 {
  text-align: center;
}

.containerC {
  width: 85%;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px;
  place-items: center;
}

.cuadrado {
  background-color: #D9D9D9;
  border: 2px solid;
  width: 90px;
  height: 90px;
  margin: 5px 0;
}

.mvr{
  justify-self: right;
}

.mvl{
  justify-self: left;
}

.section3{
  place-items: center; 
  grid-template-rows: 1fr 9fr;
}

.inventario{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.inventario div{
  height: 100px;
  width: 100px;
  background-color: #ff0000;
}


.over{
  background-color: #ff0000;
}